{% extends 'base.html' %}
{% block content %}
		<h1>Edit Post</h1>
		<form method="POST">
            <label>
                Subject
                <div><input type="text" name="subject" value="{{ post.subject }}"></div>
            </label>
            <label>
                Content
            </label>
            <textarea name="content">{{ post.content }}</textarea>
            <div>
                <input type="submit">
                <input type="button", value="Cancel" onclick="location.href='/{{post.key().id()}}'">
            </div>
		</form>
		<div class="error">{{error}}</div>
{% endblock %}
